.home {
    display:flex;
    align-items: center;
    text-align: center;
    background-image: url("../../../public/imgs/home.jpg");
    flex:1;
}

.container-img {
    width:50%;
    text-align: right;
    margin-right:150px;

}

.container-description {
    width:50%;
    height:40vh;
    display:flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: space-between;
    color:#edf6f9;
    font-family: 'voyager';
    margin-left:150px;
}


.home img {
    height:40vh;
    border-radius: 5%;
    border:2px solid #4ccaf073;
    
}
.home img:hover {
    border:2px solid #4ccaf0d0;
}

.heading-paragraph {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
}


.heading2 {
    font-size: 60px;
    font-family: voyager;
}

.heading3 {
    font-size: 20px;
    color: #4cc9f0;
    font-family: voyager;
    margin-top: 20px;

}

.contact-btn-homepage {
    color:black;
    background-color: darkgrey;
    font-size: 20px;
    font-weight: bold;
    font-family: voyager;
    border:2px solid #4ccaf0;
    padding:10px;
    border-radius: 8px;
    text-decoration: none;
   
}

.contact-btn-container {
   margin-bottom: 25px;
 
}

.contact-btn-homepage:hover {
    background-color: lightgrey;
  
 }

