.logo {
    margin:0 auto;
}

.logo img {
    width:60px;
    height:60px;
    border-radius: 50%;
    
}

/* .logo img:hover {
    border:1px solid #4cc9f0;
} */

@media (max-width:750px) {
    .logo {
        margin:0 0 0 10px;
    }
}